html, body {
    background-color: rgb(51, 46, 66);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(163, 245, 173);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(163, 245, 173);
}
a:hover {
    color: yellow;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header-box header-box header-box"
        "side-panel-left main-content side-panel-right"
        "footer footer footer"
    ;

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 10px;
    height: 100vh;
}

.grid-container > div {
    border: 1px solid rgb(108,140,122);
    opacity: 0.75;
}

.header-box {
    grid-area: header-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    letter-spacing: 0.5cm;
}

.side-panel-left {
    grid-area: side-panel-left;
}

.side-panel-right {
    grid-area: side-panel-right;
}

.main-content {
    display: flex;
    flex-direction: row;
    perspective: 1600px;
    justify-content: flex-start;
}
.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-panel-left-wrapper {
    display: flex;
    justify-content: center;    
    align-items: center;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    list-style-type: none;
    align-items: center;
    height: 50vh;
    margin: auto 30px;
    padding: 0;
    font-size: 30px;
}
.side-panel-right-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.portfolio-wrapper {
    width: 50%;
    align-items: center;
}
.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.background-shapes {
    height: 20vh;
}

#food-delivery-app {
    order: 0;
    justify-content: space-between;
}
#chrome-extension {
    order: 1;
    justify-content: space-between;
}
#personal-website {
    order: 2;
    justify-content: space-between;
}
#about-me {
    position: absolute;
    text-align: center;
    margin: 0 200px;
}
#about-me::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 25%;
    bottom: 0;
    border-bottom: 1.5px solid yellow;
}

@media (max-width: 989px) {
    .grid-container {
        display: grid;
        grid-template-areas: 
            "header-box header-box header-box"
            "side-panel-left main-content side-panel-right"
        ;
    
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 8fr;
        grid-gap: 10px;
        height: 100vh;
    }
    .grid-container > div {
        border-width: 4px; 
    }
    .footer {
        display: none;
    }
}