html, body {
    /* background-color: rgba(30, 30, 30, 12); */
    background-color: rgb(51, 46, 66);
    /* background-color: darkslategrey; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(163, 245, 173);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(163, 245, 173);
}
a:hover {
    color: yellow;
}

/* * * * * * * * * * * * * * * * * * * * *

    SITE ARCHITECTURE
    
* * * * * * * * * * * * * * * * * * * * */
.grid-container {
    display: grid;
    grid-template-areas: 
        "header-box header-box header-box"
        "side-panel-left main-content side-panel-right"
        "footer footer footer"
    ;

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 10px;
    height: 100vh;
}

.grid-container > div {
    border: 1px solid rgb(108,140,122);
    opacity: 0.75;
}

.header-box {
    grid-area: header-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100%;
    letter-spacing: 0.5cm;
}

.side-panel-left {
    grid-area: side-panel-left;
}

.side-panel-right {
    grid-area: side-panel-right;
}

.main-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    perspective: 1600px;
    justify-content: flex-start;
}
.footer {
    grid-area: footer;
}


/* * * * * * * * * * * * * * * * * * * * *

    Navigation Bar (Side panel left)

* * * * * * * * * * * * * * * * * * * * */
.side-panel-left-wrapper {
    display: flex;
    justify-content: center;    
    align-items: center;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    list-style-type: none;
    align-items: center;
    height: 50vh;
    margin: auto 30px;
    padding: 0;
    font-size: 30px;
}
#nav-blog {
    display: none;
}


/* * * * * * * * * * * * * * * * * * * * *

             ALL PARTS SQUARE
  (margin adjustments to offset 3D look)

* * * * * * * * * * * * * * * * * * * * */
.square-wrapper {
    margin-left: 47%;
    margin-bottom: 40px;
    align-self: center;
    position: absolute;
}
.square {
    transform: rotateY(-25deg);
    transform-style: preserve-3d;
    animation: cube-spin-rotation 7s infinite linear;
}
@keyframes cube-spin-rotation {
    from {
        transform: rotate3d(0,0,0,0rad);
    }
    to {
        transform: rotate3d(-1,-1,-1,6.284rad);
    }
}

.square div {
    position: absolute;
    height: 60px;
    width: 60px;

    border: 1px solid black;
    /* background-color: rgba(3, 107, 241, 0.295); */
    background-color: rgb(163, 245, 173, 0.295);
    box-shadow: inset 0 0 15px rgba(150, 150, 150, 0.45);
}

#square-back {
    transform: translateX(180deg);
    transform-origin: top right;
}
#square-right {
    transform: rotateY(-270deg); 
    transform-origin: center right;
}
#square-left {
    transform: rotateY(270deg);
    transform-origin: center left;
}
#square-top {
    transform: rotateX(90deg);
    transform-origin: top center;
}
#square-bottom {
    transform: rotateX(-90deg);
    transform-origin: bottom center;
} 
#square-front {
    transform: translateZ(60px);
    transform-origin: center center;
}

/* * * * * * * * * * * * * *

    CIRCLE FONT AWESOME

* * * * * * * * * * * * * */
.circle-wrapper {
    margin: auto;
    align-self: center;
    animation: circle-spin-rotation 45s infinite linear;
}
.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

#icon-anchor {
    position: absolute;
    animation: icon-spin-rotation 45s infinite linear;
}
#icon-crypto {
    position: absolute;
    bottom: 0;
    right: 0;
    animation: icon-spin-rotation 45s infinite linear;
}
#icon-code {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: icon-spin-rotation 45s infinite linear;

}
#icon-gamepad {
    position: absolute;
    right: 0;
    animation: icon-spin-rotation 45s infinite linear;
}
@keyframes circle-spin-rotation {
    from {
        transform: rotate(0deg)
    } 
    to {
        transform: rotate(-359deg)
    }
}

@keyframes icon-spin-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/* * * * * * * * * * * * * *

    SIDE PANEL RIGHT

* * * * * * * * * * * * * */
.side-panel-right-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* * * * * * * * * * * * * * * *
    
    FOOTER / FLOATING BACKGROUND
* * * * * * * * * * * * * * * */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-me {
    position: absolute;
    text-align: center;
    margin: 0 200px;
}
#about-me::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 25%;
    bottom: 0;
    border-bottom: 1.5px solid yellow;
}

.background-shapes {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    height: 100%;
    width: 100vw;
    align-items: flex-start;
}
.background-shapes li {
    display: block;
    animation: background-animation 25s infinite linear; 
}

@keyframes background-animation {
    from {
        transform: translateY(0) rotate(0deg);
    }
    to {
        transform: translateY(-1000px) rotate(720deg);
        border-radius: 50%;
        opacity: 0;
    }
}
.background-shapes li {
    position: relative;
    bottom: -200px;
    display: block;
    height: 20px;
    width: 20px;
    border: 1px solid white;
    background-color: rgb(86, 116, 247);
    opacity: 0.2;
    border-radius: 10%;
}
.background-shapes li:nth-child(1) {
    height: 25px;
    width: 25px;
    left: 30%;
    animation-delay: 5s;
}
.background-shapes li:nth-child(2) {
    height: 100px;
    width: 100px;
    animation-delay: 10s;
    animation-duration: 20s;
}
.background-shapes li:nth-child(3) {
    height: 50px;
    width: 50px;
    animation-delay: 17s;
    animation-duration: 14s;
}
.background-shapes li:nth-child(4) {
    height: 180px;
    width: 180px;
    animation-delay: 15s;
    animation-duration: 30s;
}
.background-shapes li:nth-child(5) {
    height: 75px;
    width: 75px;
    animation-delay: 9s;
    animation-duration: 20s;
}
.background-shapes li:nth-child(6) {
    height: 190px;
    width: 190px;
    animation-delay: 4s;
    animation-duration: 26s;
}
.background-shapes li:nth-child(7) {
    height: 30px;
    width: 30px;
    animation-delay: 4s;
    animation-duration: 17s;
}
.background-shapes li:nth-child(8) {
    height: 120px;
    width: 120px;
    animation-delay: 4s;
    animation-duration: 35s;
}
.background-shapes li:nth-child(9) {
    height: 40px;
    width: 40px;
    animation-delay: 1s;
    animation-duration: 25s;
}


/* 
    Media Query Removes floating squares, spinning box,
    and resizes grid container to be less open
*/
@media (max-width: 900px) {
    .grid-container {
        margin: 0;
        padding: 0;
        display: flex;
        grid-template-areas: 
            "hb hb"
            "mc mc"
        ;
        grid-template-rows: 1fr;
        height: 100vh;
        width: 100vw;
    }

    .main-content, 
    .side-panel-right,
    .side-panel-right-wrapper,
    .footer {
        display: none;
    }

    .header-box {
        grid-area: hb;
        width: 100%;
        font-size: 35px;
    }

    .side-panel-left-wrapper {
        grid-area: mc;
        display: flex;
        border-bottom: none;
    }

    .side-panel-left {
        align-self: center;
        border-bottom: none;
        border-left: none;
    }
    ul {
        font-size: 35px;
    }
    #nav-blog {
        display:flex;
    }
}